.dark-mode {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #dddddd;
}

.dark-mode Label, .dark-mode Text, .dark-mode .check-box, .dark-mode .text-field, .dark-mode Button {
    -fx-text-fill: #dddddd;
}

.dark-mode .text-field, .dark-mode .scroll-pane {
    -fx-background-color: #2c2c2c;
}

.dark-mode Button { /* colore dei pulsanti durante la darkmode */
    -fx-background-color: #444444;
}
.dark-mode .scroll-pane {
    -fx-background: #2c2c2c;
    -fx-border-color: #444;
}
.dark-mode .vbox-caselle {
    -fx-background-color: #2c2c2c;
}
.grid-caselle{
    -fx-background-color: #FFFFFF;
    -fx-padding: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #999;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}
.dark-mode .grid-caselle {
    -fx-background-color: #2c2c2c;
    -fx-border-color: #666;
    -fx-text-fill: #dddddd;
}
.dark-mode .check-box {
    -fx-text-fill: #dddddd;
}